.vc_chart-legend li {
	list-style-type: none !important;
}
#main-content {
	padding-top: 0px !important;
}

/*
.circleSVG img:last-child{display:none}
.circleSVG:hover img:first-child{display:none}
.circleSVG:hover img:last-child{display:inline-block}
*/ 

/***** tweaks for homepage revolution slider ****/

/*drop shadow on annual report title */
#revslider_artitle {
	text-shadow: 1px 1px #000000;
} 

/* we hide the play button in the options, but it was showing in Firefox even though we didn't want it to - this fixes that */
div.tp-video-play-button {
	display:none !important;
}
