
 Theme Name:   Highend Child
 Theme URI:    http://preview.hb-themes.com/?theme=Highend
 Description:  A Flexible, Powerful & Beautiful WordPress Theme by HB-Themes. Mobile ready and optimized for best performance. With the powerful engine and user friendly interface it will allow you to build outstanding websites quick and easy... It comes with Premium Plugins integrated into the theme.
 Author:       HB-Themes
 Author URI:   http://www.hb-themes.com
 Template:     HighendWP
 Version:      1.0.1
 Tags:       Responsive, Page-Builder, Drag&Drop, ClXean, Modern, Corporate, Multi-Purpose, Multi-Color
 Text Domain:  hbthemes
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

/*** STANDARD LINK STYLES ***/
a {
	color: #205493;
	text-decoration: underline;
}

a:visited {
	color: #4773AA;
	text-decoration: none;
}

/*** FOOTER LINK STYLES ***/
.footer-row a {
	text-decoration: none;
}

.footer-row a:hover {
	text-decoration: underline;
}

/*** In Safari, a very small line was showing in the logo ***/
span.hb-light-logo.hb-logo-wrap {
	display: none !important;
}

@media (max-width: 600px) {
	.customTeamImage  {
		margin-top:0rem !important;
		margin-bottom:2rem !important;
	}
}
@media (min-width: 601px) {
	.customTeamImage  {
		margin-top:4rem !important;
		margin-left: 1rem !important;
	}
}

/*** Throughout the site we have occasional need for utility classes for mobile/desktop only ***/
@media (max-width: 767px) {
	.mobileOnly {
		display: inherit !important;
	}
	.desktopOnly {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.mobileOnly {
		display: none !important;
	}
	.desktopOnly {
		display: inherit !important;
	}
}
/*** utility class for use when something must be visible ***/
.importantVisible {
	visibility: visible !important;
	opacity: 1 !important;
}

/*** We have 'spotlight' sections throughout the site that invert to a dark background with lite text ***/
.spotlightSection {
	color: #EEE;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	/*font-size: 25px; */
	font-size: 1.4em;
	line-height: 1.45;
	background-color: #102f53 !important;
	padding: 35px !important;
}

.spotlightSection a {
	color: #9bdaf1 !important;
}

.fullscreenvideo video {
	/* background: #062843 !important; */
	/*background: #1273ba !important; */
	background: #062843 !important;
}

/* the networks page has a list of languages, and the bullets need to be indented on that particualr list **/
#languageListRow ul {
	padding-left: 20px !important;
}


.backgroundGradient {
	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
}

/* the font used on team member listings - which includes the Board Members and the ICC members AKA network leadership - is not customizable via the normal user interface, so we do it here  **/
.team-member-name {
	font-family: "Lato", sans-serif !important;
}

/* the /board page shows a list of board members. We use CSS to hide some things we don't want showing and to dampen the effect of the opacity change ***/
.team-member-img img:hover {
	opacity: .65 !important;
}
div.team-member-box.tmb-2 div.team-member-content {
	display:none;
}
div.team-member-box.tmb-2 div.team-member-description a.simple-read-more {
	display: none;
}

/* the hamburger mobile menu was including an extra underline if we didn't add this  ***/
a#show-nav-menu {
	text-decoration: none;
	color: black;
}

.portfolio-template-default .fw-image {
	width: 100% !important;
}


/** Updates to the share section */
.share-holder {
	cursor: pointer;
	display: block;
	margin-top: 13px;
	text-align: left;
}

ul.bbg__article-share {
	border: none !important;
	margin-top: 0;
	margin-bottom: 1rem;
}

ul.bbg__article-share li {
	display: inline-block;
	font-size: 40px;
	margin-right: 3px;
}

a.bbg__article-share__link:focus,
a.bbg__article-share__link:hover {
	color: #ccc;
	text-decoration: none;
}

a.bbg__article-share__link .hb-moon-facebook-2 {
	color: #3d5a98;
}

a.bbg__article-share__link .hb-moon-twitter-2 {
	color: #55acee;
}
.team-template-default blockquote {
	font-family: lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	color: #666;
}

/*  the circular SVG originally has tooltips that show when you hover over a network. They were originally colored so we developed these styles. We
are no longer coloring them so I'm removing the styles for now
div[id^='circleTooltip_'] {
  padding: 20px;
  border: 1px solid #EBEBEB;
  position: relative;
  color:#FFF;
}
#circleTooltip_voa {
  background: #538EBD;
}
#circleTooltip_rfa {
  background: #2D655E;
}
#circleTooltip_mbn {
  background: #7E3536;
}
#circleTooltip_ocb {
  background: #92AECF;
}
#circleTooltip_rferl {
  background: #887639;
}
